
## PostgreSQL
POSTGRES_USER=username
POSTGRES_PASSWORD=password
POSTGRES_DB=db_name

APP_CONFIG__db__url=postgresql+asyncpg://username:password@db:5432/db_name
APP_CONFIG__db__echo=true

# Auth
APP_CONFIG__SECRET_KEY=super-secret-key
APP_CONFIG__ALGORITHM=HS256
